<!-- Header
============================================= -->
<header id="header" class="transparent-header">

  <div id="header-wrap" class='custom-header'>

    <div class="container clearfix">

      <div class='custom-menu-trigger'id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
      ============================================= -->
      <div id="logo" style="display: flex">
        <a href="/" class="standard-logo" data-dark-logo="images/logo-dark.png"><img  style='padding: 10px;' src="art_imgs/background/sf1-inverted.png" alt="Canvas Logo"></a>
        <a href="/" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="art_imgs/background/sf1-inverted.png" alt="Canvas Logo"></a>
        <div class='custom-title'>
          <div>Joseph Edgerton Krause</div>
        </div>
      </div><!-- #logo end -->

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu">

        <ul>
          <li><a href="/index"><div class='custom-menu-item custom-current'>Statement</div></a></li>
          <li><a href="/galleries"><div class='custom-menu-item'>Galleires</div></a>
            <ul class='custom-sub-menu'>
              {{# galleries}}
              <li><a class='custom-sub-menu-item' href="/gallery/{{name}}"><div>{{name}}</div></a></li>
              {{/ galleries}}
            </ul>
          </li>
          <li><a href="index.html"><div class='custom-menu-item'>Shop</div></a>
            <ul class='custom-sub-menu'>
              <li><a class='custom-sub-menu-item' href="index-corporate.html"><div>Prints</div></a></li>
              <li><a class='custom-sub-menu-item' href="index-corporate.html"><div>Art</div></a></li>
            </ul>
          </li>
          <li><a href="index.html"><div class='custom-menu-item'>Media</div></a>
            <ul class='custom-sub-menu'>
              <li><a class='custom-sub-menu-item' href="index-corporate.html"><div>Photography</div></a></li>
              <li><a class='custom-sub-menu-item' href="index-corporate.html"><div>Video</div></a></li>
            </ul>
          </li>
          <li><a href="index.html"><div class='custom-menu-item'>Events</div></a>
            <ul class='custom-sub-menu'>
              <li><a class='custom-sub-menu-item' href="index-corporate.html"><div>Upcoming</div></a></li>
              <li><a class='custom-sub-menu-item' href="index-corporate.html"><div>Past</div></a></li>
            </ul>
          </li>
          <li><a href="index.html"><div class='custom-menu-item'>Contact</div></a></li>

        </ul>

      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->
