<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{> head }}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

    {{> nav }}
		<section id="content" style="overflow: scroll">
			<div class="content-wrap">
					<div class="clear"></div>
					<h1 style="align-self: center;">Add Art to Database</h1>
          <form action="/api/art" method="POST">
						<table class='table table-bordered'>
							<tr>
								<th class="adminTable">id</th>
								<th class="adminTable">name</th>
								<th class="adminTable">image file name</th>
								<th class="adminTable">gallery name</th>
								<th class="adminTable">gallery id</th>
								<th class="adminTable">cover photo?</th>
								<th class="adminTable">dimensions</th>
								<th class="adminTable">description</th>
								<th class="adminTable">for sale?</th>
								<th class="adminTable">price</th>
								<th class="adminTable">order</th>
							</tr>
							<tr>
								<td class="adminTable"><input type="number" placeholder='id'name='id'/></td>
								<td class="adminTable"><input type='text' placeholder='name' name='name' /></td>
								<td class="adminTable"><input type='text' placeholder='image name' name='imagePath' /></td>
								<td class="adminTable"><input type='text' placeholder='gallery name' name='galName' /></td>
								<td class="adminTable"><input type='text' placeholder='gallery ID' name='galId' /></td>
								<td class="adminTable"><input type='text' placeholder='cover photo?' name='coverPhoto' /></td>
								<td class="adminTable"><input type='text' placeholder='dimesnions' name='dimensions'  /></td>
								<td class="adminTable"><input type='text' placeholder='description' name='description' /></td>
								<td class="adminTable"><input type='text' placeholder='for sale?' name='forsale'  /></td>
								<td class="adminTable"><input type='text' placeholder='price' name='price' /></td>
								<td class="adminTable"><input type='number' placeholder='order' name='order' /></td>
							</tr>
						</table>
						<input type='submit' name='art' value='submit' />
					</form>

				<form action="/api/art" method="GET">
					<h1>View Database</h1>
					<input type='submit' />
				</form>
			</div>
		</section>
    {{> footer }}
	</div><!-- #wrapper end -->

  	<!-- External JavaScripts
  	============================================= -->
  	<script src="js/jquery.js"></script>
  	<script src="js/plugins.js"></script>

  	<!-- Footer Scripts
  	============================================= -->
  	<script src="js/functions.js"></script>
  	<!-- <script src='js/navTransition.js'></script> -->
  </body>
  </html>
