<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head }}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix" style>

		<!-- Header
		============================================= -->
		{{>nav }}
		<!-- Page Sub Menu
		============================================= -->
		<div id="page-menu" class="no-sticky">
			<div id="page-menu-wrap">
				<div class="container clearfix">
					<div class="menu-title">gallery <span>{{galleryName}}</span></div>
				</div>
			</div>
		</div>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap custom-background">

        <div class="container clearfix">
					<!-- Portfolio Items
					============================================= -->
					<div id="portfolio" class="portfolio grid-container clearfix">
            {{#gallery}}
  						<article class="portfolio-item pf-media pf-icons custom-hover">
  							<div class="portfolio-image">
  								<a href="portfolio-single.html">
                    <!-- gal covers eventually needs to be changed -->
  									<img src="/art_imgs/gal_covers/{{imagePath}}" alt="Open Imagination">
  								</a>
  								<div class="portfolio-overlay">
  									<a href="/art_imgs/gal_covers/{{imagePath}}" class="center-icon" data-lightbox="image" title="{{name}}"><i class="icon-line-plus"></i></a>
  								</div>
  							</div>
  							<div class="portfolio-desc">
  								<h3><a class='custom-image-title'href="portfolio-single.html">{{name}}</a></h3>
  							</div>
  						</article>
            {{/gallery}}
					</div><!-- #portfolio end -->

				</div>

			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		{{>footer}}
	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

</body>
</html>
