<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head }}

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix" style>

		<!-- Header
		============================================= -->
		{{>nav }}
		<!-- Page Sub Menu
		============================================= -->
		<div id="page-menu" class="sticky" style="background: #1b1b1b">
			<div id="" class='custom-page-banner'style="position: fixed; width: 100%;">
				<div class="container clearfix">
					<div style="padding-left: 10px;"class="menu-title"><a href="/galleries"><span>process</span></a></div>
				</div>
			</div>
		</div>

		<!-- Content
		============================================= -->
    <section id="content">

			<div class="content-wrap custom-background">

				<div class="container clearfix">

					<!-- Posts
					============================================= -->
					<div id="posts">
						<div class="entry clearfix">
							<div class="entry-image">
								<div class="fslider" data-arrows="false" data-lightbox="gallery">
									<div class="flexslider">
										<div class="slider-wrap">
											<div class="slide"><a href="/art_imgs/process/3rdfloorprocess1.jpg" data-lightbox="gallery-item"><img class="image_fade" src="/art_imgs/process/3rdfloorprocess1.jpg" alt="third floor process"></a></div>
											<div class="slide"><a href="/art_imgs/process/3rdfloorprocess2.jpg" data-lightbox="gallery-item"><img class="image_fade" src="/art_imgs/process/3rdfloorprocess2.jpg" alt="third floor process"></a></div>
											<div class="slide"><a href="/art_imgs/process/3rdfloorprocess3.jpg" data-lightbox="gallery-item"><img class="image_fade" src="/art_imgs/process/3rdfloorprocess3.jpg" alt="third floor process"></a></div>
										</div>
									</div>
								</div>
							</div>
							<div class="entry-title">
								<h2 style="color: white">3rd Floor Process</h2>
							</div>
							<div class="entry-content">
								<p style="color: white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur voluptate rerum molestiae eaque possimus exercitationem eligendi fuga. Maiores, sunt eveniet doloremque porro hic exercitationem distinctio sequi adipisci. Nulla, fuga perferendis voluptatum beatae voluptate architecto laboriosam provident deserunt. Saepe!</p>
							</div>
						</div>

            <div class="entry clearfix">
             <div class="entry-image">
               <iframe src="http://player.vimeo.com/video/87701971" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
             </div>
             <div class="entry-title">
               <h2 style="color: white">This is a Standard post with an Embedded Video</h2>
             </div>
             <div class="entry-content">
               <p style="color: white">Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis velit deserunt soluta iste repellendus officia in neque veniam debitis placeat quo unde reprehenderit eum facilis vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, reprehenderit!</p>
             </div>
           </div>
					</div><!-- #posts end -->

				</div>

			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		{{>footer}}
	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up" style></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="/js/jquery.js"></script>
	<script src="/js/plugins.js"></script>
	<script src='/js/custom.js'></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="/js/functions.js"></script>

</body>
</html>
